header nav {
    color: white;
}

body {
    background-color: white;
}

.container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 500px;
    height: 100vh;
    margin: 0;
    max-width: 100%;
}
.type-submit {
    align-items: center;
    justify-content: center;
}

.li {
    list-style-type: none; 
    padding: -5px; 
}


